node_modules
npm-debug.log
pnpm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
.github
.vscode
.DS_Store
*.md
!README.md
dist
build
coverage
.nyc_output
.mocha
.npm
.eslintcache
.prettierignore
.sequelizerc
nodemon.json
docker-compose.yml
.docker
.dockerignore
Dockerfile
docs
test-case
public/uploads
db/database.sqlite
